.main-nav-pane {
  -fx-background-color: #A5C894;
  -fx-background-radius: 15px;
  -fx-border-radius: 15px;
  -fx-border-color: #000000;
  -fx-border-width: 0.1px;
  -fx-padding: 10px;
  -fx-margin: 10px;
  -fx-spacing: 20px;

}

/* Style for focused controls */
:focused {
    -fx-border-color: #A5C894;      /* Change border color */
    -fx-border-width: 3px;          /* Thicker border for emphasis */
    -fx-background-color: #f0f0f0;  /* Light background color */
    -fx-effect: dropshadow(gaussian, #A5C894, 10, 0, 0, 0); /* Shadow effect */
}

/* Login UI*/

.login-ui {
  -fx-background-color: #F2FBEF;
  -fx-padding: 150px;
  -fx-spacing: 10px;
  -fx-alignment: CENTER;
}

    /*Text-field*/
        .login-ui-entry {
             -fx-border-radius: 15px;
             -fx-background-radius: 15px;
        }

    /*login-button*/
            .login-ui-button {
                   -fx-base: -fx-primary-button;
                   -fx-background-color: #00ff7f;
                   -fx-background-insets: 0;
                   -fx-border-color: #000000;
                   -fx-background-radius: 15px;
                   -fx-border-radius: 15px;
                   -fx-text-fill: #000000;
                   -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );

            }

            .login-ui-button:hover {
                               -fx-scale-y: 1.2;
                               -fx-scale-x: 1.2;
                        }

            .login-ui-button:pressed {
                               -fx-background-color: #589D52;
                        }

            .login-ui-picture {
                    -fx-background-radius: 20; /* Adjust this value for corner roundness */
                    -fx-border-radius: 20;
                    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
            }

            .error-label {
                -fx-text-fill: #FE0000 !important;
                -fx-font-weight: bold;
            }

/* END Login UI*/

.main-nav-pane Button {
  -fx-background-color: #ffffff;
  -fx-border-color: #000000;
  -fx-background-radius: 15px;
  -fx-border-radius: 15px;
  -fx-font-size: 18px;
  -fx-font-family: "Inter";
  -fx-text-fill: #000000;
}

.main-nav-pane Button: hover {
    -fx-background-insets: 0;
    -fx-border-width: 4px;
}

.main-container {
  -fx-background-color: #F5F5DC;
  -fx-padding: 10px;
  -fx-spacing: 10px;
}

.main-content-container {
  -fx-background-color: #F5F5DC;
  -fx-spacing: 10px;
}

.main-content-container-vbox {
  -fx-background-color: #F5F5E5;
  -fx-background-radius: 15px;
  -fx-border-radius: 15px;
  -fx-border-color: #000000;
  -fx-border-width: 0.1px;
  -fx-spacing: 10px;
  -fx-margin: 10px;
}

.main-header {
  -fx-background-color: #F5F5DC;
  -fx-border-width: 0.1px;
  -fx-border-color: #000000;
  -fx-font-size: 18px;
  -fx-font-family: "Inter";
  -fx-padding: 10px;
  -fx-spacing: 30px;
  -fx-alignment: CENTER;
}


.main-header Button {
  -fx-background-color: #ffffff;
  -fx-border-color: #000000;
  -fx-background-radius: 15px;
  -fx-border-radius: 15px;
    -fx-spacing: 20px;
  -fx-text-fill: #000000;
}

.main-header Button:hover {
    -fx-background-color: #00ff7f
}

.main-header Button:pressed {
    -fx-background-color: #589D52
}

.primary-button {
  -fx-base: -fx-primary-button;
  -fx-background-color: #00ff7f;
  -fx-border-color: #000000;
  -fx-background-radius: 15px;
  -fx-border-radius: 15px;
  -fx-text-fill: #000000;
}

.primary-button:hover {
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
}

.primary-button:pressed {
    -fx-background-color: #589D52;
}

.secondary-button {
  -fx-base: -fx-secondary-button;
  -fx-background-color: #F5F5DC;
  -fx-border-color: #000000;
  -fx-background-radius: 15px;
  -fx-border-radius: 15px;
  -fx-text-fill: #000000;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-padding: 1px;
}

.combo-box .list-cell:hover {
    -fx-background-color: #00ff7f;
    -fx-text-fill: #000000;
}

.combo-box .list-cell:selected {
    -fx-text-fill: #000000;
}

.combo-box .arrow {
    -fx-background-color: #000000;
    -fx-padding: 5px;
}

/* table-view */
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-padding: 1px;
}

.table-view .column-header {
    -fx-background-color: #ffffff;

}

.table-view .column-header .label {
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 5px;
}

.table-view .table-cell {
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:filled:selected {
    -fx-font-weight: bold;
}

.table-view .arrow {
    -fx-background-color: #000000;
    -fx-padding: 5px;
}

/* END table-view */

/*Date Picker */
.date-picker {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-padding: 1px;
}

.date-picker .text-field {
    -fx-text-fill: #000000;
}

.date-picker .arrow-button {
    -fx-background-color: #ffffff;
    -fx-padding: 5px;
}

.date-picker .calendar-popup {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}

.date-picker .day-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
}

.date-picker .day-cell:selected {
    -fx-background-color: lightgray;
}
/* END Date Picker */

/* Spinner */
.spinner {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}

.spinner .text-field {
    -fx-text-fill: #000000;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
}

.spinner .increment-arrow-button:pressed, .spinner .decrement-arrow-button:pressed {
    -fx-background-color: lightgray;
    -fx-border-color: #000000;
}

.spinner .increment-arrow-button .increment-arrow {
  /* The default Modena styling */
  -fx-background-color: #000000;
  -fx-background-insets: 0 0 -1 0, 0;
  -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em;  /* 2 4 2 4 */
  -fx-shape: "M 0 4 h 7 l -3.5 -4 z";
}
.spinner .decrement-arrow-button .decrement-arrow {
  /* The default Modena styling */
  -fx-background-color: #000000;
  -fx-background-insets: 0 0 -1 0, 0;
  -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
  -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

/* END Spinner */

.radio-hbox {
    -fx-spacing: 10px;
    -fx-alignment: center;              /* Center the text inside the button */
    -fx-text-alignment: center;
    -fx-content-display: center;
}

.radio-vbox {
    -fx-spacing: 10px;
    -fx-alignment: center;              /* Center the text inside the button */
    -fx-text-alignment: center;
    -fx-content-display: center;
}


.radio-button {
    -fx-font-size: 14px;                /* Text size */
    -fx-text-fill: black;               /* Text color */
    -fx-background-color: #ffffff;      /* Background color */
    -fx-background-radius: 50%;         /* Make it circular */
    -fx-padding: 0px;                   /* No padding */
    -fx-pref-width: 40px;               /* Set the button width */
    -fx-pref-height: 40px;              /* Set the button height */
    -fx-border-color: #000000;          /* Optional border for the circle */
    -fx-border-radius: 50%;             /* Border matches the circle shape */
    -fx-border-width: 1px;              /* Border thickness */
    -fx-content-display: center;        /* Center the content */
    -fx-graphic-text-gap: 0;
    -fx-alignment: center;              /* Center the text */
    -fx-text-alignment: center;         /* Center the text */
}

/* Selected state for radio button */
.radio-button:selected {
    -fx-background-color: #A5C894;      /* Change background when selected */
    -fx-text-fill: white;               /* Text color when selected */
    -fx-border-width: 2px;
}

.radio-button:focused {
    -fx-background-color: #A5C894;      /* Change background when selected */
    -fx-text-fill: white;               /* Text color when selected */
    -fx-border-width: 2px;
}

/* Hide the default radio button indicator */
.radio-button .radio {
    -fx-opacity: 0;                      /* Hide the default radio button indicator */
}

.rounded-button {
    -fx-background-color: #ffffff;   /* Set background color */
    -fx-border-color: #000000;       /* Set border color */
    -fx-background-radius: 50px;     /* Rounded corners */
    -fx-border-radius: 50px;         /* Match background radius */
    -fx-padding: 10px;          /* Padding inside the button */
    -fx-font-family: "Inter";        /* Font family */
    -fx-font-size: 14px;             /* Font size */
    -fx-text-fill: #000000;          /* Text color */
    -fx-min-width: 30px;            /* Minimum button width */
    -fx-min-height: 40px;            /* Minimum button height */
    -fx-pref-width: 50px;           /* Preferred width for consistency */
}

.rounded-button:active {
    -fx-background-color: #00ff7f
}

.button-container {
    -fx-spacing: 10px;               /* Spacing between buttons */
    -fx-padding: 10px;               /* Padding around the container */
}

// Formatting for page headers.
.heading {
  -fx-base: -fx-heading;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-font-family: "Inter";
}

.label {
 -fx-text-fill: black;
 -fx-font-size: 16px;
}

/* Dashboard Page*/

    .mood_vbox {
        -fx-spacing: 20px;
    }

/*Settings Page*/

    .settings-toggle-button {
      -fx-background-color: #ffffff;
      -fx-border-color: #000000;
      -fx-font-size: 18px;
      -fx-font-family: "Inter";
      -fx-text-fill: #000000;
    }

    .settings-toggle-button: selected {
        -fx-background-color: #A5C894;
    }

    .password_hbox {
        -fx-pref-width: 20px;
        -fx-spacing: 10px;
    }

    .password_hbox > .label {
            -fx-pref-width: 50px;

        }

    .delete-button {
        -fx-background-color: #F5F5DC;
        -fx-border-color: #000000;
        -fx-background-radius: 15px;
        -fx-background-insets: 0;
        -fx-border-radius: 15px;
        -fx-text-fill: #000000;
    }

    .delete-button:hover {
        -fx-background-color: #FE0000;
        -fx-background-insets: 0;
        -fx-border-width: 2px;
        -fx-scale-y: 1.1;
        -fx-scale-x: 1.1;
    }


/*END Settings Page*/

/* Fixes an error*/
.menu-button:openvertically > .arrow-button > .arrow {
  -fx-background-color: #000000;
}